<head>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<h1>WORK FOR DYNAMIC WEB APPS (IMM230)</h1>
<ul>
  <li><a href="http://localhost:3000/hello">Web Skeleton 1 & 2</a></li>
  <li><a href="http://localhost:3000/throw">Rock, Paper, Scissors Game</a></li>
  <li><a href="http://localhost:3000/thousands">Accessing Database from ruby</a> </li>
  <li><a href="http://localhost:3000/posts">Accessing Database from ruby pt2</a> </li>
  <li><a href="http://localhost:3000/posts">Database: Add a "Delete Route"</a></li>
  <li><a href="http://localhost:3000/finalapp">Final</a></li>
</ul>
