<head>
<style>
    body {background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<h1>WORK FOR DYNAMIC WEB APPS (IMM230)</h1>
<ul>
  <li><a href="http://localhost:3000/hello">Web Skeleton 1 & 2</a></li>
  <li><a href="http://localhost:3000/throw">Rock, Paper, Scissors Game</a></li>
  <li><a href="http://localhost:3000/posts">Acessing Database from ruby</a> </li>
  <li>Acessing Database from ruby pt 2</li>
  <li>Delete Route</li>
  <li>Final</li>
</ul>




<!-- <a href="http://localhost:3000">???</a> <br> -->