<html>
<head>
<title>Greetings</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>
<body>

 <p>
I just wanted to say <em style="color: green; font-size: 2em;"><%= @greeting %>, <%= @name %></em>.
</p> 

</body>
</html> 