<html>
    <head>
        <title>Rock, Paper and Scissors</title>
    </head>
<body>

 <p>
<strong>player move: </strong> <%= @player_throw %></em>. <br>
<strong>computer move: </strong> <%= @computer_throw %></em>. <br><br>
<strong>result: </strong> <%= @result %></em>.
</p> 


<button onclick="location.reload();">Play again?</button>


</body>
</html> 