<html>
<head>
<title>Result</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>
<body>

 <p>
<strong>player move: </strong> <%= @player_throw %></em>. <br>
<strong>computer move: </strong> <%= @computer_throw %></em>. <br><br>
<strong>result: </strong> <%= @result %></em>.
</p> 


<button onclick="location.reload();">Play again?</button>


</body>
</html> 