<html>
<head>
<title>Game</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>
<body>

<h1>Rock, Paper or Scissors ?</h1>

<form action="/throw" accept-charset="UTF-8" method="post"><input type="hidden" />
    your move: <input type="text" name="player_throw" required>
    <br><br>
    <input type="submit">
</form>

</body>
</html>