<head>
<title>Give me your Data</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<body><h1>ACCESING DATABASE PT2</h1></body>


<% @thousand.each do |thousand| %>

    <div><h3><%= thousand.thing %><h3>
    
    </div><br>
<% end %>

<button onclick="window.location.href = 'http://localhost:3000/thousands/new';">Generate 1000 Things</button>