<head>
<title>Give me your Data</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<body>
<h1>1-1000</h1>

<%= form_for :thousands, url: thousands_path do |f| %>
    <p>
    <%= f.hidden_field :thing, value: "" %>
    </p>


    <p>
        <%= f.submit "create 1000 things" %>
    <p>

<% end %></body>