<head>
<title>Final</title>
<style>
    body {margin: 1%; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<body>


</body>