<head>
<title>Final</title>
<style>
    body {margin: 1%; text-align:center; background-image: linear-gradient(to right, white, aliceblue);}
    h1 {color:teal;}
    a {color: grey;}
    a:hover {color: powderblue;}
    ul {color: grey;}
</style>
</head>

<body>

<h1>Tea Shop</h1>



<button onclick="window.location.href = 'http://localhost:3000/finalapp/new';">New Game</button>


</body>